/* Main page*/
:root{
--main-text-color: #2E2F42;
--sec-text-color:#4D5AE5;
--text-text-color:#434455;
--cloud-text-color:#F4F4FD;
--port-button-bg:#E7E9FC;
}

body{
    font-family: "Roboto";
    letter-spacing: 0.02em;
}
ul {
    list-style: none;
}

a:link { text-decoration: none; 
}

.logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.30;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #fff;
    color: var(--main-text-color);
}
.web {
    color: var(--sec-text-color);
}

.logo.studio {
    color: var(--main-text-color);
}

.buttons {
    background-color: #fff;
    color:var(--main-text-color);
    font-family: inherit;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
}
.address {
    background-color: #fff;
    color: var(--text-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
}
.bigtext{
    color: #fff;
    background-color: var(--sec-text-color);
    font-weight: 600;
font-size: 56px;
line-height: 1.1;
/* or 107% */
text-align: center;
letter-spacing: 0.02em;
}
.orderbtn {
    color: #fff;
    background-color: var(--sec-text-color);
    font-weight: 600;
    font-family: inherit;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
align-items: center;
letter-spacing: 0.04em;
}
.maintext{
    background-color: #fff;
    color:var(--main-text-color) ;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

}
.minortext{
    background-color: #fff;
    color: var(--text-text-color);
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* or 150% */
letter-spacing: 0.02em;

}
.question{
    background-color: #fff;
    color: var(--main-text-color);
    font-weight: 600;
font-size: 36px;
line-height: 1.1;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.cloud {
    background-color: var(--cloud-text-color);
}
.cloud.text{
    color: var(--main-text-color);
    background-color: var(--cloud-text-color);
    font-weight: 600;
font-size: 36px;
line-height: 1.1;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.cloud.name {
    color: var(--main-text-color);
    background-color: #fff;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.02em;
}
.cloud.job {
    color: var(--text-text-color);
    background-color: #fff;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.02em;
}
.footlogo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.30;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.foot{
    background-color: var(--main-text-color);
}
.footlogo {
color: var(--cloud-text-color);
background-color: #2E2F42;
}

.footlogo.web {
color: var(--sec-text-color);
background-color: #2E2F42;
}

.foottext {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* or 150% */
letter-spacing: 0.02em;

/* CORNFLOWER */
color: #E7E9FC;
}


/* Portfolio*/

.logop{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.30;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.webp {
color: var(--sec-text-color);
}

.studiop{
    background-color: #fff;
    color: var(--main-text-color);
}
.footlogop.studiop.webp{
    background-color: #fff;
    color: #4D5AE5;
}

.buttonsp {
    background-color: #fff;
    color: var(--main-text-color);
    font-weight: 600;
    font-family: inherit;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
}
.addressp {
    background-color: #fff;
    color: var(--text-text-color);
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
}



.buttonstack {
    color: var(--sec-text-color);
    background-color: var(--port-button-bg);
    font-weight: 600;
    font-family: inherit;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
align-items: center;
text-align: center;
letter-spacing: 0.04em;
box-sizing: border-box;
border: 1px solid #E7E9FC;
border-radius: 4px;

}

.buttonstack:hover {
    color: #ffffff;
    }
.images.name {
    color: var(--main-text-color);
    background-color: #fff;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */
letter-spacing: 0.02em;
}
.images.description {
    color: var(--text-text-color);
    background-color: #fff;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
}
.images.text {
    color: var(--cloud-text-color);
    background-color: var(--sec-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
}


.footlogop{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.30;
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud-text-color);
background-color: #2E2F42;
}

.footp{
    background-color: var(--main-text-color);
}


.footlogo.webp {
color: var(--sec-text-color);
background-color: #2E2F42;
}

.foottextp {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* or 150% */
letter-spacing: 0.02em;

/* CORNFLOWER */
color: #E7E9FC;
}

